services:
  - type: web
    name: sentiment-demo
    env: python
    plan: free
    buildCommand: pip install -r requirements-web.txt
    startCommand: streamlit run app/app_streamlit_db.py --server.port $PORT --server.address 0.0.0.0
    envVars:
      - key: APP_MODE
        value: demo
      - key: DATA_URL
        value: https://raw.githubusercontent.com/farzinm1-creator/ai-market-sentiment-2/refs/heads/main/data/daily_sentiment.json

  - type: web
    name: sentiment-pro
    env: python
    plan: free
    buildCommand: pip install -r requirements-web.txt
    startCommand: streamlit run app/app_streamlit_db.py --server.port $PORT --server.address 0.0.0.0
    envVars:
      - key: APP_MODE
        value: pro
      - key: PRO_KEY
        sync: false    # مقدار را بعداً در Render می‌گذاری
      - key: DATA_URL
        value: https://raw.githubusercontent.com/farzinm1-creator/ai-market-sentiment-2/refs/heads/main/data/daily_sentiment.json
